/* General */
 
h1 {        /* styling for main header - text, border style, and margins/padding */
  align-content: center;
  text-align: center;
  border: .3px solid #141435;
  padding: 5px;
  margin: 5px;
  border-color: #141435;
}

h2, h3 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Sen Regular", "Open Sans", sans-serif;
}

body {   /* default color for body text and background */
  color: #141435;
  background-color: #f5f5f5;
  text-align: center;
}
  
p, ul, ol {                   /* default styling for text elements */
  font-family: "Sen Regular", "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

li {
  padding: 2px;
}

ol {
  margin-left: 10px;
  margin-right: 20px;
  text-align: left;
  line-height: 15pt;
}

ul, ol { 
  list-style-position: inside;
}

hr {
  height: 2px;
  background-color:#f5f5f5;
  border: .5px solid #141435;
}
  
a:link {
  color: #007673
}
a:visited {
  color: #CFB53B;
}
a:hover {
  color: darkgoldenrod;
}
a:active {
  color: black;
}

footer {
 text-align: left;
 margin 20px;
}

/* Header */
  
header {            /* text styling for nav and main header + header margin */
  background-color: #f5f5f5;
  font-family: "Montserrat", Raleway, sans-serif;
  letter-spacing: 1.5px;
  margin: 10px;
}

nav {
  margin: 10px;
}


/* Main */

.image-center {  /*resize and center picture of me on beach */
  align-content: center;
  width: 400px;
  padding: 10px;
  margin: 10px;
}


.intro-text-box {      /*style intro to align right and match right margin of background image, and style text in intro */
  padding: 2px;
  margin-left: 65%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: none;
  color: #141435;
  font-family: Helvetica, Arial, sans-serif;
  line-height: big;
  letter-spacing: 1.5px;
  background-color: #E7D6C5;
}
  
.background {         /*add my picture as background image of section container with intro */
  background-image: url(images/me.jpeg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center
 }

.resize {          /* ensure background picture stays at right height */
  min-height: 300px;
}

section h2 {     /* style "Hi, I'm k.d. Bromley" heading */
 margin-right: 5%;
 text-align: right;
  
}

.contact-list {         /* center list so that text can be aligned left to align bulletpoints */
  margin-left: 40%;
  list-style-type: none;  
  text-align: left;
}

ul li::before {  /* add unique bullet points to contact links */
  content: "⫸ ";
}
  
