/* General */
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');      /* Import Google Font 'Sen' */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body {
  background-color: whitesmoke;
}

a:link { color: #007673; }         /* link psuedo-classes */
a:visited { color: #CFB53B; }
a:hover { color: darkgoldenrod; }
a:active { color: black; }

img { width: 100%; }

/* Header (Mobile First) */

  header { 
    text-align: center;
    font-family: 'Montserrat', Raleway, sans-serif; 
    letter-spacing: 2px;
    border-top: .5px solid #CFB53B;
    border-bottom: .5px solid #CFB53B;
    padding-bottom: 20px;
  }


/* Header (Desktop) */    
/* changes to styling for devices with wider screens i.e. desktops */

@media all and (min-width: 800px) {
  header {  padding: 0 20px 0 20px; }

  header.group {
    justify-content: space-between;
    align-items: center;
  }
  


  header nav, h1 {
   margin: 15px 0 0 0;
  }

  header nav {
    font-size: 20px;
    letter-spacing: 1.5px;
    text-align: right;
    padding-top: 5%;
    text-decoration: none;
  
  }

  header h1 {
    font-size: 40px;
    letter-spacing: 2.5px;
    text-align: left;
    padding: 10px 10px 10px 10px;
  }

}

/* Main */

h2, h3, p {
  font-family: Sen, Roboto, "Open Sans", sans-serif;
  margin-top: 0;
}

h2 { 
  font-size: 25px; 
  margin-bottom: 5px;
}

h3 { 
  font-size: 20px;
  margin-bottom: 0;
  }

article { 
  margin: 30px 20px;
}


/* Main (Desktop) */

@media all and (min-width: 800px) { 
  h2 { 
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;    
  }
}

/* Classes */

.icon {
  width: 50%;
  align-content: center;
  margin-left: 25%;
}

.caption {
  margin: 5%;
  padding: 10px;
}

/* Groups and Items (Mobile first) */

.group, .group-column {     /* styling for .group and .group column same for mobile */
  display: flex;
  flex-direction: column;
}


.item {             /*items for flexbox styling */
  flex: 1;
  margin: 5px 5px 10px 0px;
}

.item-double { flex: 2; }  

/* Groups and Items (Desktop) */

@media all and (min-width: 600px) {

  .item, .match-margins {           /* adding padding on bottom and left for text on desktop, keep text somewhat contained so it's attractive and readable */
    padding: 0 0 10px 0px;
    margin: 0 0 10px 10px;
  }

  .group { flex-direction: row; }   /* .group changes to row for desktop */
  
  .intro { line-height: 150%; }      /* expand line height for intro paragraph (right below h2 at top of page) to keep from looking short next to large pic */

}

/* Contact Form */

form {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: darkslategrey;
  font-family: Roboto, "Open Sans", sans-serif;
}


form textarea {
  width: 90%;
  height: 85%;
  margin-left: 5px;
  margin-bottom: 5px;
}

form input {
  margin-bottom: 5px;
  margin-left: 5px;
}

form div.item {
  padding-top: 10px;
}

div {
  margin-bottom: 10px;
}


form.group {
  display: flex;
  flex-direction: column;

}

form.item {
  flex: 1;
}

form .item-triple {
  flex: 3;
  margin-left: 5px;
  padding-left: 5px;
}

.button {
  display: inline-block;
  
}


/* Footer */ 
footer { 
  text-align: center; 
  height: 50px;
}
